.gradient-custom {
    background: rgb(220,44,108);
    background: -moz-radial-gradient(circle, rgba(220,44,108,1) 6%, rgba(251,176,59,1) 92%);
    background: -webkit-radial-gradient(circle, rgba(220,44,108,1) 6%, rgba(251,176,59,1) 92%);
    background: radial-gradient(circle, rgba(220,44,108,1) 6%, rgba(251,176,59,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc2c6c",endColorstr="#fbb03b",GradientType=1);}
    .x {
   
    overflow: hidden;
    position: relative;
}
.v1{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -17px;
    overflow: auto;
}
.noborder{
        border:none;
        
        }
.z:hover{
    background-color: black;
    opacity: 0.3;
    color: blanchedalmond;
    transition: color 1s ease-out;
    transition: background-color 1s ease-out;;

}

.r .t:hover{
    background-color: aqua;
    opacity: 0.7;

}